[2016-01-26 21:37] biovitus opened #1 "error in PharmacoGx Vignette"
Dear Sir/Madam,

I am trying to run the code from the PharmacoGX Vignette in R and it gives the error mentioned below.
I like to know why the intersect function is giving this error and if you can help in fixing it.

commonGenes <- intersect(featureNames(GDSCsmall, "rna"), featureNames(CCLEsmall,"rna"))
Error in intersect(featureNames(GDSCsmall, "rna"), featureNames(CCLEsmall,  :
  error in evalua

[2016-01-26 21:47] bhaibeka commented on #1
Thanks for your feedback. Can you install the new version 1.1.4 and try again. It works on my system.

[2016-01-27 21:05] biovitus commented on #1
Dear Bhaibeka,

Thank you for your reply. I had installed PharmacoGx_1.1.4.tar.gz  on linux fedora 64bit and still gives the same error.

Name:  CCLE
Date Created:  Fri Nov  6 14:00:53 2015
Number of cell lines:  1061
Number of drug compounds:  24
RNA:
	Dim:  50 1036
RNASeq:
	Dim:  50 935
CNV:
	Dim:  50 744
Drug pertubation:
	Please look at pertNumber(pSet) to determine number of experiments for e

[2016-03-03 23:38] DGendoo opened #2 "Intersect CMAP and NCI60 Psets"
Use the IntersectPSet function to intersect CMAP and NCI60 datasets - is it possible?  It is a bit problematic if the drug names are not standardized across the data types. Perhaps intersecting the drugs using canonical smiles or InChi keys might be better?

[2016-04-18 10:31] Zeenia commented on #1
Hello,
I am getting same error "Error in featureNames(GDSCsmall, "rna") : unused argument ("rna")" while trying PharmacoGx vignette on Windows and using package version 1.1.4

Warning: namespace ‘limma’ is not available and has been replaced
by .GlobalEnv when processing object ‘’
Warning: namespace ‘limma’ is not available and has been replaced
by .GlobalEnv when processing object ‘’
Warning: nam

[2016-04-18 15:06] p-smirnov commented on #1
It seems there was a capitalization error (False vs FALSE). However I cannot consistently reproduce on my machine, it behaves differently when called from RStudio vs Command Line. Zeenia, could you try to install the latest commit on your machine and see if the issue is resolved?

Thank you

[2016-04-28 10:04] Zeenia commented on #1
@p-smirnov I am still getting the same error on R studio, I tested on windows as well as Cent OS. On the other hand when I tested on R command line in centOS instead of Rstudio, this error did not appear, although there is this new error
[code]

[2016-05-09 20:46] #2 closed

[2016-05-13 16:52] p-smirnov opened #3 "Drug Dose response curve should warn when combo not found"
The drug dose response curve function should give a more informative warning when the combination is not found.

[2016-06-02 18:21] p-smirnov opened #4 "downloadPertSig doesn't read off hard drive before redownloading"

[2016-06-21 15:32] bhaibeka commented on #1
Zeena, looks like you have the parameter 'sensitivity.measure' twice in your command. Can you make sure it appears only once?

[2016-07-22 10:15] OrysyaStus opened #5 "Error in Intersecting GDSC and CCLE Psets"
Hello. I recently started using this R package and prior to using it to mine my own data, I wanted to reproduce the data which was published in "PharmacoGx: an R package for analysis of large pharmacogenomic datasets." using the code produced in the supplementary information: [https://github.com/OrysyaStus/ProQinase/blob/master/PharmacoGx/pharmacogx_supp_info.pdf](url) which I made into my own .R

[2016-07-22 13:53] p-smirnov commented on #5
Dear Orysya,

I apologize for the inconvenience, I remember fixing this bug but it seems like I missed pushing it onto github!

Could you reinstall PharmacoGx from github as below and try again?

`install_github('bhklab/PharmacoGx')`

Thank you!
Petr

[2016-07-22 14:22] OrysyaStus commented on #5
Thanks Petr. It's working great now.

Best,
Orysya

[2016-07-24 17:27] OrysyaStus opened #6 "Issues with reproducing Supplementary table 1 from publication"
I wanted to reproduce the data which was published in "PharmacoGx: an R package for analysis of large pharmacogenomic datasets." using the code produced in the supplementary information: https://github.com/OrysyaStus/ProQinase/blob/master/PharmacoGx/pharmacogx_supp_info.pdf which I made into my own .R file https://github.com/OrysyaStus/ProQinase/blob/master/PharmacoGx/Pharmacogx_practice.R.

When

[2016-07-24 17:47] OrysyaStus opened #7 "Issues with reproducing results from Case Study 2 from publication"
I wanted to reproduce the data which was published in "PharmacoGx: an R package for analysis of large pharmacogenomic datasets." using the code produced in the supplementary information: https://github.com/OrysyaStus/ProQinase/blob/master/PharmacoGx/pharmacogx_supp_info.pdf which I made into my own .R file https://github.com/OrysyaStus/ProQinase/blob/master/PharmacoGx/Pharmacogx_practice.R.

When

[2016-07-27 22:11] p-smirnov commented on #3
Fixed in upcoming version

[2016-07-27 22:11] #3 closed

[2016-08-26 00:29] bhaibeka opened #8 "No filtering by cell lines in drugSensitivitySig and drugPerturbationSig"
A parameter cell.lines must be added to compute drug signatures only on a subset of cell lines

[2016-08-26 01:07] #5 closed

[2016-09-08 20:11] LiNk-NY opened #9 "Error in `inconsistencies` vignette chunk"
Hi @p-smirnov,
A recent patch to `Biobase` has created an error in the vignette. The error originates from the `summarizeMolecularProfiles` function.
I have a fix for this.

[2016-10-05 14:57] spocks commented on #1
Regarding the error
[code]

Use `PharmacoGx::featureNames`

[code]

This problem arises due to conflict in name of the function **featureNames** . _Biobase_ also have function **featureNames**  which conflict with  `PharmacoGx::featureNames`  (another reason for my eternal hate for R )

@p-smirnov We should consider changing name of this function!!

[2016-10-05 22:40] p-smirnov commented on #1
@spocks It has already been changed to fNames.

[2016-10-05 22:41] #1 closed

[2016-11-21 21:47] bhaibeka commented on #9
Hi Marcel,

Do you want me to add you as a collaborator or do you want to send the new code?

[2016-11-21 21:53] LiNk-NY commented on #9
Hi @bhaibeka,
I think this error has been addressed.
Thanks.

[2016-11-21 23:16] #9 closed

[2016-11-25 16:59] chapmandu2 opened #10 "Split drugDoseResponseCurve into plotting and data generating functions"
Hi,
Would it be possible to have a function to extract the dose response data as numeric values as well as doing the plot?  Perhaps you could split the function into a data extraction function and a plotting function?  This would be useful for developing alternative methods for summarising the dose response data.  Quick and dirty code below:

[code]

Many thanks.

[2017-01-07 06:04] p-smirnov opened #11 "Make checkPSetStructure return TRUE if structure deemed ok, false otherwise."
Can be useful for checking in if statements to throw error if PSet is not properly formed.

[2017-02-06 21:55] p-smirnov opened #12 "summarizeSensitivityData too slow"
Currently summarizeSensitivityData is too slow. Was rewritten to take into account possible duplicate row names but now takes unreasonably long because it loops through data. Needs to be sped up.

[2017-02-09 16:46] lwaldron opened #13 "pre-built PharmacoSet objects"
Can you point us to any pre-built objects? And perhaps create a link to them in the README.md file.

[2017-02-09 16:51] bhaibeka commented on #13
You can use the availablePSets() and downladPSet() functions

`availablePSets()

trying URL 'https://www.pmgenomics.ca/bhklab/sites/default/files/downloads/PSets.csv'
Content type 'text/csv' length 1776 bytes
==================================================
downloaded 1776 bytes

                      PSet.Name Dataset.Type Available.Molecular.Profiles
CCLE_2013             CCLE_2013  sensitivit

[2017-02-09 16:54] lwaldron commented on #13
Very nice functions!!

[2017-02-13 18:45] #13 closed

[2017-02-13 22:23] bhaibeka opened #14 "DrugSensitivitySig needs a cell/tissue parameter"
It would be nice to specify the set of cell lines (or a set of tissues) in the DrugSensitivitySig() function to develop biomarkers that are more specific

[2017-02-13 22:31] bhaibeka opened #15 "GDSC1000: DrugSensitivitySig fails after SubsetTo"
Example:

[code]

It returns: Error in .validate_assayDataElementReplace(obj, value) :
  object and replacement value have different dimensions

[2017-02-13 22:35] bhaibeka commented on #15
It looks like the problem come from summarizeMolecularProfiles()
[code]

[2017-02-14 00:28] p-smirnov commented on #15
This is a known issue, caused by an update to Biobase that verifies the size of exprs.se matches size of exprs. 
Is this happening in the latest version of the package?

On Mon, Feb 13, 2017 at 5:35 PM -0500, "Benjamin Haibe-Kains" <notifications@github.com> wrote:

It looks like the problem come from summarizeMolecularProfiles()
summarizeMolecularProfiles(GDSC1000_PDAC, mDataType="rna")
Error in

[2017-02-14 00:56] bhaibeka commented on #15
I could not install it on Mordor because fgsea would not compile. I will try on my workstation tomorrow

[2017-02-14 03:10] p-smirnov commented on #15
Weird, I don't remember adding fgsea as a dependency to PharmacoGx. The summarize function works properly in the newest version of PharmacoGx on Bioconductor, but Bioconductor version must be 3.4 to download updated PharmacoGx.

[2017-02-14 21:03] #15 closed

[2017-02-14 21:26] bhaibeka opened #16 "CTRPv2 drug annotations"
GSK1120212 should be Trametinib

[2017-02-15 05:03] p-smirnov commented on #16
Other Psets have as GSK1120212. Will have to change in all for consistency

[2017-02-27 21:19] bhaibeka opened #17 "DrugPerturbationSig should use log of concentration as a variable"

[2017-03-24 20:04] p-smirnov commented on #12
Seems to be fixed (used reshape2)

[2017-03-24 20:05] #12 closed

[2017-03-28 03:04] bhaibeka opened #19 "Targetted in drugInfo shoudl be targeted (probably in GDSC)"

[2017-04-02 17:44] enricoferrero opened #20 "Can't download LINCS L1000 perturbation signatures"
I'm having troubles downloading the LINCS L1000 perturbation signatures:

[code]

I also couldn't download the CMap PharmacoSet (but with a different kind of error):

[code]

However, I had no problems downloading the LINCS L1000 PharmacoSets and the CMap perturbation signatures.

Thanks!

[2017-04-02 18:12] enricoferrero opened #21 "What nomenclature is used for the CMap and LINCS L1000 compounds?"
Not really an issue, just a question I couldn't find the answer to in the docs.

What nomenclature or ontology is used to name compounds in the CMap and LINCS L1000 PharmacoSets and perturbation signatures?

E.g.:
[code]

Where are the names metmorfin, phenformin etc. coming from?
Are unique IDs (e.g.: ChEMBL IDs) stored somewhere in the PharmacoSet or perturbation signature objects?

Thanks!

[2017-04-03 00:46] p-smirnov commented on #20
@enricoferrero Can you check the PSets folder created in the directory you were working in? Are there files with the names of the datasets in that folder? If so, could you delete them and try to download again using downloadPSet("CMAP")?

The error reading from connection often happens when there are interrupted downloads or incomplete files in the folder, we have yet to implement a check for comp

[2017-04-03 10:47] enricoferrero commented on #20
@p-smirnov Thanks, yes, I think I managed to solve the `Error: error reading from connection` by deleting the partial files and the `Error: cannot allocate vector of size 6.5 Gb` by using a machine with more RAM.

However I'm still getting the 404 error for  `downloadPertSig("L1000_genetic")` and `downloadPertSig("L1000_compounds")`.

Can you please have a look?
Thanks!

[2017-04-03 14:32] p-smirnov commented on #21
Hi @enricoferrero:

For the CMAP dataset, if you are able to load the PharmacoSet object into R then running ```drugInfo(CMAP)``` will give a table of data about the drugs.

Out of universal identifiers we only have the ChemBank ID (CBID column) for these drugs, provided by the original study authors.

For the L1000 data, the study authors provided "canonical_smiles", "inchi_key", "inchi_string" c

[2017-04-03 14:37] p-smirnov commented on #20
@enricoferrero: It seems that the L1000_compound signatures are not available on our server, I will fix and let you know.

For the genetic perturbations in the L1000, we are not sure it makes sense to apply our regression method to the over expression and knockdown experiments, especially given the multitude of off target effects encountered in using shRNA. Therefore we did not create such an obje

[2017-04-17 21:45] bhaibeka opened #22 "Tons of warnings for drugSensitivitySig"
The following code generates tons of warnings

[code]
->
[code]

I suspect this is due to the fact that many genes of 0 expression for all cell lines. This must be caught by the function before running lm()

[2017-04-25 04:08] bhaibeka opened #23 "SummarizeMolecularProfiles must include tissueid in pData of the generated ExpressionSet"

[2017-05-09 14:58] alimadani opened #24 "Row names in raw data"
In matrix of raw sensitivity data, drug names is capital in some PSets (such as CCLE) while lowercase in others (such as gCSI).
rownames in CCLE are drugid_“drugid”_“cellid” while drugid do not exist in gCSI
In general, row names do not have the same format. Please check them all.

[2017-05-09 15:07] alimadani opened #25 "Row names in raw sensitivity data"
cell id and drug id is not in the same order in different PSets

[2017-05-09 19:54] davidaknowles opened #26 "Inconsistent tissueid and histology in CCLE cell line annotations"
In CCLE@cell there are columns tissueid and Histology. I'm sometimes confused by this though, for example 6 cell lines (e.g. UACC-62) have tissueid=haematopoietic_and_lymphoid_tissue but Histology=malignant_melanoma. Is this a bug or is it something like a melanoma that became metastatic and was sampled from the blood? Still seems like the tissue would be "skin" though?

[2017-05-26 08:17] kkmkoudijs commented on #20
Hi, waiting for the L1000_compounds signatures to be put on the server as well. Maybe this message will move it up the priority list; besides this it's a great package and I will cite it in my next publication :-) Keep up the good work!

[2017-06-19 23:06] p-smirnov opened #27 "function to get exact viability using summary matrix"
Need such a function

[2017-06-23 14:18] chuntul opened #28 "Fix this"
Error in subsetTo(x, cells = i, drugs = j, molecular.data.cells = i) :
  argument "j" is missing, with no default

[2017-06-23 16:19] p-smirnov opened #29 "Unionlist not handling NA?"
check new unionist implementation to handle NAs

[2017-06-30 13:27] kkmkoudijs opened #30 "Preprocessing of Pharmacosets"
When I compare the mRNA expression values of the .CEL files downloaded directly from the CMAP build 02 website to the expression values from the CMAP PharmacoGx website, they do not correlate very well (see figure).

![batch_effects](https://user-images.githubusercontent.com/2172073/27737307-f716d880-5da7-11e7-8c07-af12c4593d36.png)

I assume there have been some sort of batch correction done. I f

[2017-06-30 13:31] bhaibeka commented on #30
Hi Michel,

Petr Smirnov will provide you with more details next week (with code). I can already tell you we applied ComBat to correct the batch effects between the 2 microarray platforms (HG-U133A and Titan HT-HG-U133A) and we then included the plates (aka batches) in the model to adjust for this effect as well.

[2017-07-05 21:27] markcfreeman opened #31 "logLogisticRegression optimization metaparameter nonsense"
logLogisticRegression doesn't appear to make sure that scale > 0 or that all lower bounds are less than corresponding upper bounds. It also doesn't check that the lower bounds, upper bounds, and density vectors all have the same dimensions, or that scale is a single number rather than a vector.

[2017-07-05 22:02] markcfreeman opened #32 "More metaparameter issues in logLogisticRegression"
The function doesn't pass on the user's value of density to .meshEval. Is this purposeful or a bug?

[2017-07-10 18:12] zhaleh-safikhani opened #33 "summarizeSensitivityProfiles, summary.stat"
We need to add another option (like "all") to summary.stat parameter in case the user needs to have the sensitivity profile matrix of all the replicates.

[2017-07-10 18:24] p-smirnov commented on #33
You already added the summarize=FALSE option! :)

________________________________
From: zhaleh-safikhani <notifications@github.com>
Sent: Monday, July 10, 2017 2:12:53 PM
To: bhklab/PharmacoGx
Cc: Subscribed
Subject: [bhklab/PharmacoGx] summarizeSensitivityProfiles, summary.stat (#33)

We need to add another option (like "all") to summary.stat parameter in case the user needs to have the sensitiv

[2017-07-10 19:12] zhaleh-safikhani commented on #33
Hmm even better option!! I've forgotten about it... It's been almost 2 years though!

[2017-07-10 21:47] p-smirnov opened #34 "sensitivity.cutoff"
@zhaleh-safikhani:

Can you check the drugSensSig function? The documentation for the sensitivity.cutoff feature says it is used as a filter for values out of range, but the actual line being run is this:
[code]

Which one did we mean to implement? This looks like it makes a factor out of the data for logistic classification.

[2017-07-10 21:49] p-smirnov commented on #34
Also not sure this parameter even works right now, but I am pretty sure I am the one that broke it.

This is why unit tests are good 😄

[2017-07-10 22:34] zhaleh-safikhani commented on #34
The aim of the parameter is to be used as a cut-off to binarize drug sensitivity values. The documentation is wrong!

[2017-07-11 16:04] markcfreeman opened #35 "computeAUC documentation issues"
Roxygen doesn’t seem to have parsed the documentation for computeAUC correctly. Most of the text of the documentation has been wrongly parsed as the function title/summary.

[2017-07-20 14:58] kkmkoudijs opened #37 "The nthread argument is not passed from connectivityScore function to the corWeighted function"
Simple fix ready on my computer. Can merge with development.

[2017-09-08 01:20] MomenehForoutan opened #38 "Compute AUC for a new PSet"
Hi all,
Thank you so much for developing such a valuable package!
I am creating a new PSet by applying PharmacoSet() function on some publicly available breast cancer cell line datasets (https://genomebiology.biomedcentral.com/articles/10.1186/gb-2013-14-10-r110). Now, I am trying to compute AUC from the raw drug data. However, I seem to get a different distribution for the recomputed AUC when com

[2017-09-08 05:01] p-smirnov commented on #38
Hi Sepideh,

We are working on a documentation of the exact data processing used for each dataset to help answer these questions for our users. Each study collects and releases data slightly differently, so the process to convert it to viability values differs between studies (like CCLE and the Oregon Health and Science University screen).

The good news is that we have processed the Oregon study

[2017-09-08 05:02] p-smirnov commented on #38
@bhaibeka Now that we have all the raw values, should we reprocess to remove the normalization to MG132? (See above)

[2017-09-08 08:23] MomenehForoutan commented on #38
Thank you so much @p-smirnov !
Thanks for sharing the PSet in advance! It would be interesting to compare your PSet to what I have done so far for the Dr Gray's data.

I edited my comment above to make it clear that the raw data that I am showing are from Dr Grays' breast cancer screen. For the CCLE data, I have been using the AUCs that you have been recomputed.

Just a couple of questions for mor

[2017-09-11 01:58] MomenehForoutan opened #39 "temsirolimus in CTRPv2 data"
It seems that **t**emsirolimus is with lower-case **t** in all the Psets except for CTRPv2. I have downloaded the PSet again today, so I guess it is the latest version.

Cheers,
Sepideh

[2017-09-12 00:24] bhaibeka commented on #39
Thanks, we will correct in the next release!

[2017-09-15 17:40] p-smirnov commented on #30
@kkmkoudijs
Hi Michel,

I created a gist with the two files we used for our normalization : https://gist.github.com/p-smirnov/0bda1bbf7009e68729373fd73157019e

The main things to know about the normalization procedure for the data:
Brainarray custom cdf's:  `hthgu133ahsensgcdf_19.0.0` and `hgu133ahsensgcdf_19.0.0`
RMA normalization within each platform type using `affy_1.42.3`
Then the following c

[2017-10-09 00:02] MomenehForoutan opened #40 "HARA cell line in CCLE data"
Hi,
The HARA cell line (which seems to be a lung cancer cell line "http://web.expasy.org/cellosaurus/CVCL_2915") has been wrongly annotated in CCLE as tissueid="breast".
CCLE@cell[CCLE@cell$cellid == "HARA",]
Cheers,
Sepideh

[2017-10-26 23:17] MomenehForoutan opened #41 "RNASeq data in CCLE PSet"
Hi all,
I have realised that MDA-MB-468 cell lines that are currently available through the actual CCLE RNASeq data does not present in the "**rnaseq**" of the CCLE PSet. Looking at the total number of cell lines in CCLE PSet and CCLE data, it seems that 929 cell lines have RNASeq data in the PSet, while there are 935 cell lines in the CCLE RNASeq data. So I was wondering if you consider updating

[2017-11-29 00:40] MomenehForoutan opened #42 "Map drug IDs and drug names in GDSC1000 PSet"
Hi all,
I am using the drug sensitivity profile from the GDSC1000 PSet. The row names in the sensitivity profile slot are in the form of cellLineName_drugID (e.g. HDQ-P1_332):
`head(GDSC1000@sensitivity$profiles, 100)`
However, there seems to be no mapping between these drug IDs and drug names in the curation slot:
`head(GDSC1000@curation$drug, 100)`
So could you **_please_** let me know how you m

[2017-11-29 01:18] MomenehForoutan opened #43 "Expression data in CTRPv2 PSet"
Hi all,
It seems that the CTRPv2 PSet does not include the expression data at this stage, I was wondering if you have a version of that which includes the "rna" slot too, and if so whether you are happy to share that?

Many thanks!
Sepideh

[2017-11-29 01:25] bhaibeka commented on #43
@p-smirnov Can you share the function to create the CCLE-CTRPv2 hybrid? It should be part of the package

[2017-11-29 01:27] MomenehForoutan commented on #43
Thanks @bhaibeka I think this is the same expression data as in the CCLE data? So all good! "https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4718762/"
Thanks!
Sepideh

[2017-11-29 01:31] bhaibeka commented on #43
CReating a hybrid PSet is not that trivial (but not complicated neither), as the object must be consistent. We will send you the object we have created and the code we used.

[2017-11-29 02:16] MomenehForoutan commented on #43
Thank you so much @bhaibeka I really appreciate it!
Cheers,
Sepideh

[2017-11-29 02:41] MomenehForoutan commented on #42
Actually, they are accessible through:
`GDSC1000@sensitivity$info`
It may be a good idea to have the same format for the row names in all the PSets; it could potentially help with automating down-stream analyses. Anyway, I found your package very useful. Thanks!
Cheers,
Sepideh

[2017-11-29 04:00] #42 closed

[2017-12-12 15:37] p-smirnov commented on #43
Hi Sepideh,

Sorry for the slight delay. We have a couple of versions of the CCLE rnaseq data we are testing right now, I wanted to ask which one you think is more useful for your purposes.

Currently we have a version quantified using a HS/Stringtie pipeline and normalized as FPKM, as well as a Kallisto pipeline normalized using TPM.

Best,
Petr

[2017-12-14 23:59] MomenehForoutan commented on #43
Hi Petr @p-smirnov,
Thanks for your reply.
Is the TPM version that you are talking about the same as the one here "https://www.synapse.org/#!Synapse:syn5612998" or you have re-analysed the raw data? I guess this is the HS/Stringtie format that you provide with the CCLE Pset as it seems to be different from the TPM version? As I have been using the RNASeq data provided through the CCLE PSet, I thin

[2017-12-15 00:20] MomenehForoutan commented on #38
Hi Petr @p-smirnov
I would really like to learn how you calculate AUC, as I am planning to generate a couple of more PSets for some data sets that we are working on, and it would be great to be consistent with your PSets, so it makes it more useful to research community.
Considering the Gray data, I have been using different summaries for the background values as there are four columns containing

[2017-12-15 17:09] p-smirnov commented on #43
Hi Sepideh, @MomenehForoutan ,

I am actually not sure pipeline was used to create the TPM values in that synapse link. We re-quantified the data using Kallisto ourselves, @zhaleh-safikhani can you confirm what data source we used?

For our CCLE PSet released right now, we have the FPKM normalized values using a tophat-cufflinks pipeline, but we have also reanalyzed the data using the hisat string

[2017-12-19 19:55] zhaleh-safikhani commented on #43
Hi @MomenehForoutan,

We have the FPKM normalized quantifications using Tophat2/Cufflinks which is the version you are using now. We also have quantified FPKM values using Hisat2/StringTie pipeline and we also have TPM and estimated counts using Kallisto. All these quantifications have been estimated by running the tools on raw data(fatstq files extracted from available bam files by picard). We ha

[2017-12-27 13:14] MomenehForoutan commented on #43
Thank you so much @p-smirnov and @zhaleh-safikhani!
It would be great to access the merged PSet with FPKM normalised value as I would like to keep things consistent with what I am currently working on. I really appreciate your help with this!
Cheers,
Sepideh

[2018-02-05 00:42] MomenehForoutan commented on #43
Hi @p-smirnov and @zhaleh-safikhani
I was wondering if you could share the hybrid PSet with me?
Many thanks!
Sepideh

[2018-03-08 05:40] elenichri opened #44 "Is retrieval of connectivity at cell line level possible?"
Dear PharmacoGx authors,

I find PharmacoGx very useful for my research. I recently tried running it with my input signatures following the guide
https://bioconductor.org/packages/release/bioc/vignettes/PharmacoGx/inst/doc/PharmacoGx.pdf

I realized that the drug.perturbation object keeps summarized drugs. I
could not retrieve the connectivity for a specific drug, at a specific
concentration and o

[2018-05-23 20:11] spocks opened #45 "documentation error in summarizeSensitivityProfiles"
In the documentation of function `summarizeSensitivityProfiles` says **cell lines as rows and drugs as columns** . However it is other way around as **drugs as rows and cell lines as columns**

[2018-05-23 20:13] kofiav commented on #45
Hi @spocks, thanks for notifying us. What version of PharmacoGx are you using?

[2018-05-29 15:54] spocks opened #46 "can't subset CTRPv2"
Here is the code and error massage:
[code]

[2018-05-29 18:55] p-smirnov commented on #46
``` rownames(CTRPv2@curation$tissue) <- rownames(CTRPv2@curation$cell)```

[2018-12-27 21:18] sisiranair opened #47 "Issue with ordering doses in drugDoseResponseCurve"
While using drugDoseResponseCurve for jumbled doses, the doses are not getting ordered even though there is a warning message :
In sanitizeInput(conc = conc, viability = viability, conc_as_log = conc_as_log,  :
  Concentration Values were unsorted. Sorting concentration and ordering viability in same order

The function worked after manually ordering the doses of the array.

[2019-02-14 20:22] mtmorgan opened #48 "sessionInfo() during package installation (will) capture an incorrect path"
This line https://github.com/bhklab/PharmacoGx/blob/28f9c62f2b593207af984b337a36ac441a390bc7/R/signatureClass.R#L1
captures the value of `sessionInfo()` at the time the package is installed. `sessionInfo()` includes information about the path that the package is installed at. This blog post https://developer.r-project.org/Blog/public/2019/02/14/staged-install/index.html summarizes a forthcoming ch

[2019-04-01 16:22] p-smirnov opened #49 "Add warnings when users try to compare data from different processing"

[2019-04-09 02:41] yeaouh opened #50 "can't reproduce the result of case study 2 from publication"
I tried to reproduce the code in the supplementary data of the paper "PharmacoGx: an R package for analysis of large pharmacogenomic datasets",which I made into my own .R file https://github.com/yeaouh/graduation/blob/master/R/HDAC.R. I ran the code without modifying any part of it, but I can't reproduce the result of case study 2 in this paper. The result in the paper said that the four known HDA

[2019-04-09 23:21] FarzanT opened #51 "Error when intersecting PSets and plotting dose response curves"
Hello,
I couldn't find an issue discussing the error I receive below, when trying to find the intersection between the three pSets on drugs and cell.lines with strictIntersect.
[code]
Changing it to drugs only works:
[code]
I am trying to ensure that the intersection contains the same cell lines with the same tested drugs, but I am uncertain if the second chunk of code has this desired effect.

A

[2019-04-18 14:35] e-arslan opened #52 "ic50 published values & Transformation to get recomputed values?"
I couldn't find ic50_published for ctrpv2. How can I get those values?

    CTRPv2ic50_p <- summarizeSensitivityProfiles(CTRPv2, sensitivity.measure='ic50_published')
    Error in summarizeSensitivityProfiles(CTRPv2, sensitivity.measure = "ic50_published") :
    Invalid sensitivity measure for CTRPv2, choose among: auc_published, ec50_published, auc_recomputed, ic50_recomputed

IC50 values are bet

[2019-04-20 16:03] bhaibeka commented on #50
Thanks for reaching out. I have rerun your code with the last version of PharmacoGx
`devtools::install_github("https://github.com/bhklab/PharmacoGx")`

And got the expected results
[HDAC_res_table.pdf](https://github.com/bhklab/PharmacoGx/files/3100325/HDAC_res_table.pdf)
[HDAC_res_v1_table.pdf](https://github.com/bhklab/PharmacoGx/files/3100326/HDAC_res_v1_table.pdf)

These are not exactly the sa

[2019-04-20 16:03] #50 closed

[2019-04-26 18:50] soheilj opened #53 "Error intersecting CCLE and CTRPv2"
The following command raises error!
common <- intersectPSet(pSets=c(CCLE, CTRPv2), intersectOn="cell.lines")
==================
Intersecting large PSets may take a long time ...
Error in pSet@sensitivity$n[cells, drugs, drop = drop] :
 subscript out of bounds

[2019-04-26 20:12] soheilj opened #54 "summarizeMolecularProfiles returns missing values while fill.missing is set to FALSE"
Seems that fill.missing doesn't work as expected!
With the following commands, expressionProfiles would include 3 columns/cell-lines (KNS81, Becker, and U251MG) with NA values, 2 of which (KNS81 and U251MG) are not even in CCLE.

names <- CTRPv2@cell$cellid[!is.na(CTRPv2@cell$tissueid) & CTRPv2@cell$tissueid=="central_nervous_system"]
expressionProfiles <- summarizeMolecularProfiles(pSet = CCLE ,

[2019-05-02 03:09] p-smirnov commented on #52
Hi @e-arslan

The range between 0-8 is usually due to the fact that IC50 values are artificially truncated at the maximum concentration tested.

We do not apply a direct transformation to the published values. Rather, we refit the HIll Slope curves and report the actual IC50 from the curve fit, when it is defined (the bottom asymptote of the curve must be below 50% inhibition. If it is at 50, math

[2019-05-02 03:10] p-smirnov commented on #53
Interesting, likely an error in the CTRPv2 pSet. Will try to check out soon!

[2019-05-02 03:11] p-smirnov commented on #48
@mtmorgan Thank you for the advice! I think this was a naive mistake, fixed now.

[2019-05-02 03:13] p-smirnov commented on #47
@sisiranair does this lead to unordered connection in plot lines?

[2019-05-02 03:14] p-smirnov commented on #51
@FarzanT Just got back from vacation, will take a look and try to see what happened in the next few days!

[2019-05-02 03:16] p-smirnov opened #55 "InterectPSets still doesnt do the right thing on concentrations?"
When cell lines and drugs are not both selected in addition to concentrations, the concentrations intersection is skipped it seems. Need to verify.

In addition, intersection small example datasets on concentrations hangs

[2019-05-02 12:58] p-smirnov commented on #55
Nevermind, the behavior was chosen by design. However, it needs to be documented, and a warning would be nice.

[2019-05-02 15:04] sisiranair commented on #47
Yes

[2019-05-02 16:40] p-smirnov commented on #51
Hi @FarzanT,

There is a bit of oversight in the error handling of the functions, and they aren't providing useful error messages. Thank you for highlighting this!

The issues you are running into all stem from the fact that neither CCLE_2013 or GDSC_2013 have any drug-dose response curve data in the PSets. In 2013, the studies have not yet released the concentration-viability pairs that would all

[2019-05-09 22:28] #51 closed

[2019-05-10 20:15] soheilj opened #56 "summarizeSensitivityProfiles returns same values for both AAC and auc"
How to reproduce:
aac <- summarizeSensitivityProfiles(pSet = pSet, sensitivity.measure = "AAC", drugs = c("lapatinib"))
auc <- summarizeSensitivityProfiles(pSet = pSet, sensitivity.measure = "auc", drugs = c("lapatinib"))

looks like values are the same for both auc and AAC

[2019-07-03 20:35] p-smirnov opened #57 "drugDoseResponseCurve needs a space after the legend label"

[2019-10-28 21:38] TINGJINJANE opened #58 "How to use drugSensitivitySig function to discover drug for gene"
I selected a gene that we are interested in in the lung cancer dataset, then used the following code below to calculate the estimated coefficient for the gene provided in your example code.

sig.rna_lung <- data.frame(drugSensitivitySig(pSet=PSet_lung,
                                                mDataType="rna",
                                                features=gene_id,

[2019-11-12 02:11] khughitt commented on #43
Greetings! Any progress on this? Calling `mDataNames()` on a CTRPv2 PharmacoSet returns "rna", but indeed, attempting to retrieve that data fails:

[code]

[2020-01-08 15:59] p-smirnov opened #59 "summarizeSensitivityProfiles drug parameter does not work when drug was not tested."

[2020-02-05 17:47] khughitt opened #60 "Cell line metadata incorrectly processed"
It appears that the cell line metadata for GDSC1000 (and likely other datasets, assuming they were processed in a similar manner) is corrupted some cell lines.

Specifically, cell lines which contain invalid R row name characters appear to be improperly handled.

For example, take the cell line [NB(TU)1-10](https://www.cancerrxgene.org/cellline/NB(TU)1-10/1240181):

In the PharamCoGx cell line met

[2020-02-05 18:02] p-smirnov commented on #60
@khughitt we are currently working in finalizing a reannotation of all the cell lines based on mapping to a standardize name from the wonderful resource Cellosaurus: https://web.expasy.org/cellosaurus/

This should clear up any of the mismapping issues. However, specifically for the GDSC1000 dataset, a fraction of the cell lines without sample names are due to the fact that they did in fact have n

[2020-02-05 18:19] khughitt commented on #60
@p-smirnov Thanks for the quick follow-up and clarifications!

It looks like if you use the Cellosaurus accession for rownames, that will be safe from getting butchered by `make.names()`..

That is surprising about the GDSC1000 cell lines,. although, perhaps it shouldn't be all that surprising given my luck working with metadata for public datasets heh.

Have you considered reaching out to someone

[2020-02-07 14:24] ZKorda opened #61 "CMap update"
Was the CMap PSet updated since the initial release of the package? In case if it was not, is it possible for me to download the updated CMap LINCS GEO dataset and construct a PSet myself and if so, which level of CMap data should I use?

Thanks!

[2020-04-02 22:31] mjrmason commented on #43
I, too, would like to inquire about CTRPv2's RNA. This package is amazing btw.

[2020-04-20 16:38] mjrmason commented on #43
@MomenehForoutan @bhaibeka  and @p-smirnov , I am checking with the individual who uploaded the Synapse TPM data to get any details regarding how it was processed. I'll provide them here and will ensure that he Synapse site has the details there.

[2020-04-21 20:39] mjrmason commented on #43
@MomenehForoutan  @bhaibeka and @p-smirnov I can confirm that the data was processed with Salmon 0.4.2. with the genemap flag using  ensembl v74.

[2020-04-22 21:22] #4 closed

[2020-06-01 03:17] KevCYang commented on #20
Hi, have the L1000_compounds and L1000_genetic perturbation signatures been made available? I tried `downloadPertSig("CMAP")`, `downloadPertSig("L1000_genetic")`, and `downloadPertSig("L1000_compounds")`, but only the CMAP perturbation signature could be found and downloaded from source.

Thanks!

[2020-06-10 17:42] ChristopherEeles opened #66 "Available PSets data.frame formatting"
Remove spaces from the column names in availablePSets data.frame. Suggestion: replace with _. Reason: `with` doesn't work for column names with spaces.

[2020-07-03 15:04] p-smirnov opened #69 "Problem with downloading GDSC_2019(v2-8.0) on Windows only."
`downloadPSet` throws this error when downloading the file, but only on windows:
[code]

No clue what's going on.

[2020-07-03 15:09] ChristopherEeles commented on #69
I will try to replicate it. From the error, it seems like it may be a serialization issue? Are you using R 4.0?

[2020-07-03 15:35] p-smirnov commented on #69
Yes, on both Mac and Windows. Specifically R 4.0.0 on Mac, R 4.0.2 on Windows

[2020-07-03 15:35] p-smirnov commented on #69
This was found by Hossein, I replicated.

[2020-07-29 12:49] #8 closed

[2020-08-26 14:35] spocks opened #70 "error in checkPsetStructure"
Here `colData` should be used instated of `rowData`

https://github.com/bhklab/PharmacoGx/blob/d91bf140a4ea3faac30c30509c1c7f173560d7af/R/class-PharmacoSet.R#L369

Correct code:
`if('cellid' %in% colnames(colData(profile))) {`

[2020-08-26 14:38] ChristopherEeles commented on #70
I will look into this today. Thanks for opening the issue.

[2020-08-26 14:56] ChristopherEeles commented on #70
I have made the changes in master and RELEASE_3_11. Both branches have also been pushed to Bioconductor.

Thanks for catching that.

Best,
Christopher Eeles

[2020-08-26 14:56] #70 closed

[2020-09-01 12:07] lykosherdshep commented on #69
I met the same problem in windows R version 4.0.2 (2020-06-22)

[2020-09-01 13:34] ChristopherEeles commented on #69
I will look into this later today. Can I ask what version of PharmacoGx you are using?

[2020-09-01 14:41] Yunuuuu commented on #69
This is my sessioninfo
R version 4.0.2 (2020-06-22)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows 10 x64 (build 19041)

Matrix products: default

locale:
[1] LC_COLLATE=Chinese (Simplified)_China.936
[2] LC_CTYPE=Chinese (Simplified)_China.936
[3] LC_MONETARY=Chinese (Simplified)_China.936
[4] LC_NUMERIC=C
[5] LC_TIME=Chinese (Simplified)_China.936

attached base packages:
[1] s

[2020-09-01 17:03] ChristopherEeles commented on #69
Hi @Yunuuuu,

I have replicated your issue with both the release and development version of PharmacoGx. The problem is due to an incorrect URL in the availablePSets() function for GDSC_2019(2-8.0). I have contacted my colleagues to correct the URL - we fetch it from an API for the Orcestra web application (https://orcestra.ca) - but it may take a day or two until it is fixed.

In the mean time you

[2020-09-02 15:56] Yunuuuu commented on #69
Dear developer, Thanks for your help, it seems the dataset GDSC_2020(v2-8.2) isn't the only dataset with a error in downloading,  the CCLE_2015 dataset exists the same problem when downloaded, I havn't tried other datasets because of my slow network,

[2020-09-02 16:01] ChristopherEeles commented on #69
Hi @Yunuuuu,

Thanks for the heads up. I will run some more systematic tests today and work on correcting the issue ASAP.

In the meantime, all PSets can be downloaded from https://orcestra.ca.

Best,
Christopher Eeles
Software Developer
BHK Laboratory

[2020-09-03 21:36] ChristopherEeles commented on #69
Hi @Yunuuu,

The issue was caused by failure to tell the download function that the file was binary. Apparently on Windows this writes additional meta data to the file when it is downloaded, which makes it unreadable in R.

I have correct the issue in both the development and release branches on Bioconductor, which should be available after the next build tomorrow.

In the interim, you could downl

[2020-09-03 21:36] #69 closed

[2020-09-23 14:59] Yunuuuu commented on #69
Thanks for ur help!!  I'll test it

[2020-10-02 20:14] khughitt opened #71 "Mutation data all "1" for gCSI_2017 using either summary.stat"
Greetings!

In going through the gCSI_2017 dataset, I noticed that the mutation data appears to have either been incorrectly parsed, or is otherwise not very informative: all non-missing values returned by a called to `summarizeMolecularProfiles` have the same value, "1".

**To Reproduce**:

[code]

**System information**:

[code]

[2020-10-02 20:31] ChristopherEeles commented on #71
Hi @khughitt,

I will look into this and get back to you early next week.

Best,
Chris

[2020-10-06 16:25] ChristopherEeles commented on #71
Hi @khughitt,

I just ran through debugging for your code. Looks like the issue is with the gCSI_2017 PharmacoSet mutation data. I am reaching out to my colleagues now to look into resolving the issue.

I will keep you updated on our progress and share the correct data as soon as it is available.

Best,
Chris

[2020-10-06 19:39] khughitt commented on #71
Great! Thanks for taking the time to look into the issue and report it upstream!

[2020-10-21 16:19] ChristopherEeles commented on #71
Hey @khughitt,

Just checking in so you know we didn't forget about you. The problem with the mutation data goes all the way upstream to Genentech. We are currently working with them to resolve the issue but it may take some time.

Best,
Chris

[2020-10-22 14:07] khughitt commented on #71
Hi @ChristopherEeles

No problem -- Thanks for taking the time to follow-up!

Cheers,
Keith

[2020-11-13 04:49] lovenicole opened #72 "creating a pharmacoset"
hi,
I'm trying to create a pharmacoset with the latest updated LINCS data, since the current version of connectivity map pharmacoset is 2016.
but I keep getting an error at the last step; using the `PharmacoSet` function.

I followed the instructions described on the pdf file attached below.
[CreatingPharmacoSet.pdf](https://github.com/bhklab/PharmacoGx/files/5534776/CreatingPharmacoSet.pdf)

and

[2020-11-13 14:15] ChristopherEeles commented on #72
Hi @lovenicole,

Could you post your `sessionInfo()` here as well so I know what your R environment looks like. I will look into your issue as soon as I receive it.

Best,
Chris

[2020-11-16 06:04] lovenicole commented on #72
I really appreciate your reply. here's my session information.

`R version 4.0.3 (2020-10-10)
Platform: x86_64-pc-linux-gnu (64-bit)
Running under: Red Hat Enterprise Linux

Matrix products: default
BLAS/LAPACK: /usr/lib64/libopenblasp-r0.3.3.so

locale:
 [1] LC_CTYPE=en_US.UTF-8       LC_NUMERIC=C               LC_TIME=en_US.UTF-8        LC_COLLATE=en_US.UTF-8     LC_MONETARY=en_US.UTF-8
 [6] LC_

[2020-11-16 17:41] ChristopherEeles commented on #72
Yes I can help you, no worries.

I think instead of NA you should set all batch ids to 1. This should resolve the error, if not please comment here.

Also, the vignette you shared seems to be out of date. Please see the most recent on Bioconductor at: https://www.bioconductor.org/packages/release/bioc/vignettes/PharmacoGx/inst/doc/CreatingPharmacoSet.pdf.

[2020-11-17 05:00] lovenicole commented on #72
It doesn't work, although I set all batch ids to 1. Do you have other solutions?

And thank you for the new document. I read it and it is really helpful.

[2020-11-17 19:16] Swilson6 opened #73 "Looking for Precompiled CMAP and L1000 data for v.2.2.0"
Started using this tool for specifically for the Perturbation analysis features. The tutorial offers CMAPsmall but when I use the availablePSets() the tools arent offered.

<img width="838" alt="Screen Shot 2020-11-17 at 10 58 31 AM" src="https://user-images.githubusercontent.com/74621513/99434604-d4de3c00-28c3-11eb-8432-f0b90540c4c7.png">

As an alternate solution I've tried downloading the CMAP

[2020-11-17 20:10] ChristopherEeles commented on #73
Hey @Swilson6,

In a recent release we added a new parameter to `availablePSets()`, canonical. The parameter defaults to TRUE, and when TRUE only shows the most correct and up to date PSets. Since Our version of CMAP and L1000 need to be updated, they aren't included in this list.

To see ALL available PSets, please use:
`availablePSets(canonical=FALSE)`

Also, all of our PSets are generated using

[2020-11-18 00:23] Swilson6 commented on #73
Hello Chris,

Thanks for the reply! The availablePSets(canonical=FALSE) command was able to list the older Psets including the CMAP_2016, however it doesn't list the L1000 dataset. The L1000 wasn't listed on the Orchestra website as well. Based on my searches the last couple of days I believe that the L1000 was previously available for analysis? I understand that they need to be updated, but would

[2020-11-18 00:37] ChristopherEeles commented on #73
Hi @Swilson6,

I will speak with my colleagues about getting you a copy of L1000, as well as figure out why it is no longer available.

 Be in touch shortly.

Best,
Chris

[2020-11-18 04:48] lovenicole commented on #72
or can I just run the function `connectivityscore` with z-score? There is a z-score file (level 5 data. a signature) available in GSE92742.

[2020-11-18 18:44] ChristopherEeles commented on #72
Hi @lovenicole,

From your sessionInfo() it looks like you are using an old version of PharmacoGx. As a start, please install the most recent release with `BiocManager::install('PharmacoGx', version='3.12'). When this is done try rerunning the `drugPerturbationSig` function and see if the error persists.

If you want to subset the PSet before running `drugPerturbationSig`, you can do so with the `

[2020-11-19 10:07] lovenicole commented on #72
Even though I updated the package and separated the data, it's still very slow.
However, it seems to be working!
I didn't finish the work yet, but thank you in advance! :)
I really appreciate your kindness, although my English is not good.

[2020-11-19 14:16] ChristopherEeles commented on #72
Hi @lovenicole,

Happy to help. We are aware that the drugPerturbationSig function is slow and have some updates planned for it in the coming months.

In the mean time, I am glad it is now working for you.

Please don't hesitate to open another issue if you have questions or concerns.

Best,
Chris

[2020-11-19 15:06] #72 closed

[2020-11-19 16:26] Swilson6 commented on #73
Hello @ChristopherEeles ,

I was able to download CMAP_2016 using the command:

CMAP.2016<-downloadPSet("CMAP_2016")

However I am unable to download the Drug signatures with the command:

 Cmap.pertub <- downloadPertSig("CMAP_2016")

Its mentioning that its "Unknown Dataset. Please use the availablePSet function for the table of available PharamcoSets."

is there an additional parameter that I am

[2020-11-19 16:53] ChristopherEeles commented on #73
Hello @Swilson6,

Thanks for catching that! Looks like we forgot to update `downloadPertSig` to reflect the changes in `availablePSets`. I have pushed a fix to master. I will also be updating our Bioconductor release, but that will take a few days to get inlcuded.

Alternatively, here is the updated code if you don't want to do a reinstall.

[code]

Also, RE: L1000. @iamsinht will contact you dire

[2020-11-19 17:00] Swilson6 commented on #73
Hello @ChristopherEeles

Thanks for lettting me know. I will keep an eye out for the updated release as I'm not confident enough to alter the code myself. I will try the drugPerturbationSig() command in the meantime.

Best,
Swilson6

[2020-11-19 17:04] ChristopherEeles commented on #73
Hi @Swilson6,

You can just copy and paste the code into your console and then use the updated function. You could also install the updated version of PharmacoGx using `devtools::install_github('bhklab/PharmacoGx')`. I am just ensuring the changes didn't break anything before pushing to Bioconductor. I expect they will be available by Saturday (look for version 2.2.1).

Best,
Chris

[2020-11-23 16:56] Swilson6 commented on #73
Hello @ChristopherEeles

I downloaded the updated version 2.2.1 and I am unable to download the Perturbation signature using the command:

Cmap.pertub <- downloadPertSig("CMAP_2016")

I also tried coping and pasting the code into my console and that didnt work either. Are there additional parameters I'm not seeing?

Best
Swilson6

[2020-11-23 17:02] ChristopherEeles commented on #73
Hi @Swilson6,

I will look into this and get back to you shortly. Sorry for the inconvenience.

Best,
Chris

[2020-11-23 17:44] ChristopherEeles commented on #73
I am debugging the function. In the mean time you can download the file at this URL: https://www.pmgenomics.ca/bhklab/sites/default/files/downloads/CMAP_signatures.RData

[2020-11-23 19:33] ChristopherEeles commented on #73
Hi @Swilson6,

I fixed the function and have pushed to both the release and development branch of Bioconductor. The updates should be available within 2 days, look for versions 2.2.3.

Best,
Chris

[2020-11-23 19:50] Swilson6 commented on #73
Hello @ChristopherEeles,

Ill keep an eye out for it.

In the meantime I downloaded the file you posted earlier, and tried running it with the HDAC_genes like you see in the tutorial and I got this error:

 Error in CoreGx::connectivityScore(x, y, method, nperm, nthread, gwc.method,  :
  Row names of x and y are either missing or have no intersection

The drug.perturbation@.Data of the file you sh

[2020-11-23 20:18] ChristopherEeles commented on #73
Hi @Swilson6,

Yes the source of the error is definitely the row name format. Our perturbation signature have not been updated for quite a while, and some changes in PharmacoGx have occurred since then. We are currently looking into updating the signatures, but it may take some time.

For now you can fix this issue with something like this: `rownames(object) <- gsub('_at', '', rownames(object))`.

[2020-12-14 15:09] hmkim opened #74 "CTRP data set issue with latest PharmacoGx version (2.3.5)"
HI!

I already downloaded the data set (CTRPv2.RData)

With opening this data, I can't call this in session perfectly.

![스크린샷 2020-12-15 오전 12 02 50](https://user-images.githubusercontent.com/4966343/102097723-9c516400-3e69-11eb-97af-f97b01340d29.png)

Could you check this, please?

[2020-12-14 15:49] ChristopherEeles commented on #74
Hi @hmkim,

It seems the version of CTRPv2 you loaded uses the old PhamacoSet design, where molecular profiles are stored in Expression Sets instead of SummarizedExperiments.

You should be able to fix this by loading Biobase and SummarizedExperiment packages then running `molecularProfilesSlot(x) <- lapply(molecularProfilesSlot(x), as, 'SummarizedExperiment')`

Please let me know if this does not

[2020-12-16 09:36] hmkim commented on #74
Hi, @ChristopherEeles

Thank you!

In your comment, this data provided by articles use the older version of Pharmacogenomics sets.

[2020-12-16 09:36] #74 closed

[2020-12-21 22:26] p-smirnov opened #75 "Check on wrong assay?"
https://github.com/bhklab/PharmacoGx/blob/eeee68a021549bdfab23e85cdf57c15ae54a52cc/R/methods-summarizeMolecularProfiles.R#L227

Im about 60% sure this is supposed to be a 2 in the if statement, it does not really make much sense otherwise. The first assay should not be null, we just put it in there.

[2020-12-21 22:41] p-smirnov commented on #75
@ChristopherEeles When you have a chance, can you confirm my understanding?

[2020-12-22 19:33] ChristopherEeles commented on #75
IIRC I added that condition to replicate the output of the old function for `ExpressionSet`s, which always produced a second assay in the summary (I think it was supposed to hold the standard error of the summarized metric). As far as I could tell it was always an NA matrix with the same dimensions and row/colnames as the first assay matrix.

If we remove that block, there will be an error in the

[2020-12-22 19:37] ChristopherEeles commented on #75
I check if the first assay is null to deal with `PharmacoSet`s without molecular profiles, which should not have a second assay added in the summary.

[2020-12-24 02:56] zhumengyan opened #76 "normalization method of RNA-Seq data"
Thanks for your great tools!
I have download GDSC2 (2020) from ORCESTRA.
I found that data in GDSC@molecularProfiles$Kallisto_0.46.1.rnaseq has negative value. So Could you provide some details about data processing?

[2020-12-24 06:37] zhumengyan commented on #76
Moreover, I can't find ic50_published info in sensitivity profiles

[2021-02-16 19:07] FarzanT opened #77 "summarizeSensitivityProfiles not working after update"
Hello,
Going back to code I used a couple of months ago, I can see that PharmacoGx has now some dependency on CoreGx, and there seems to be an issue with "generics". Steps to reproduce:
[code]
Had to change the following from "CTRPv2" to CTRPv2_2015, the former worked before.
[code]
Both result in the following error:
[code]

Using R 4.0.3 on M1 Mac with macOS Big Sur 11.2.1
CoreGx version 1.2.0
P

[2021-02-16 19:13] ChristopherEeles commented on #77
Hi @FarzanT,

All methods have been updated to be more generic after the release of `CoreGx`. This is because we now inherit from the `CoreSet` class in that package for `PharmacoGx`, `RadioGx` and `ToxicoGx`.

As a result, the `pSet` argument is deprecated and should be replaced with `object`. You could also simply exclude the parameter name for the first argument (the PSet) and method dispatch w

[2021-02-16 19:15] FarzanT commented on #77
Yes it did! Thanks for the explanation and the quick fix, much appreciated.

[2021-02-16 19:15] #77 closed

[2021-02-16 19:23] kevincjnixon opened #78 "Error creating new PharmacoSet"
Hello,

I am trying to incorporate new gene expression data from the Affymetrix Human Gene 2.0 ST microarray into the existing CMAP_2016 PharmacoSet. I am pulling the individual slots from the existing PSet and appending the new data to each slot and attempting to rebuild the PSet with the new data.

I have successfully created the `SummarizedExperiment` object ('mp' below) with all mandatory rowD

[2021-02-16 19:28] ChristopherEeles commented on #78
Hi @kevincjnixon,

Thanks for opening the issue. It looks like an error in an assignment operator within the constructor. I will look into it and let you know if I need more information.

Best,
Chris

[2021-02-20 01:55] ChristopherEeles commented on #78
Hi @kevincjnixon,

I have narrowed down the problem to the `PharmacoGx:::.summarziePeturbationNumbers` function.

The code is as follows:
[code]

The error is occuring in ` perturbation.info[rownames(tt), colnames(tt), names(object@molecularProfiles)[i]] <- tt`. SInce the error  indicates subscript out of bound, one of two things is happening:

1. The rownames of the cell table do not match the va

[2021-02-20 02:00] ChristopherEeles commented on #76
Hi @zhumengyan,

Sorry for the slow response. Can you confirm that this is still an issue by downloading the PSet from ORCESTRA again?

If it is would you open an issue here: https://github.com/bhklab/ORCESTRA

All the PharmacoSet are created and version controlled via ORCESTRA.

Thanks,
Chris

[2021-02-20 02:00] #76 closed

[2021-02-22 14:08] kevincjnixon commented on #78
@ChristopherEeles
Thank you so much for your help. I will look into this and let you know if there are any other issues.

Best,

Kevin

[2021-02-22 14:41] kevincjnixon commented on #78
@ChristopherEeles
I found the problem, I wasn't included the 'NA' for drug controls in the updated drug table for the PSet. Thank you very much for your help!

[2021-02-22 14:41] #78 closed

[2021-03-01 13:43] Durdam opened #79 "Where did the raw viability data for CCLE was retrieved and what normalization steps were performed on the raw viability values ?"
I could not find the original source of the CCLE viability dataset. In the PharmacoSet data of CCLE when I retrieve the raw data from the R object using the below commad (just retrieved two examples)

, , Dose

                     doses1   doses2  doses3  doses4 doses5 doses6 doses7 doses8
drugid_AEW541_1321N1 "0.0025" "0.008" "0.025" "0.08" "0.25" "0.8"  "2.53" "8"
drugid_AEW541_22Rv1  "0.0025"

[2021-03-01 17:01] p-smirnov commented on #79
Hi @Durdam

According to my notes, Activity Data (Median) is a % Response instead of a % viability. Therefore, we took 100 - Activity Data (Median) to recover the viability information. You can find our code here: https://github.com/BHKLAB-Pachyderm/downloadCCLESensRaw/blob/master/downloadSensData.R

We did not do any other processing or normalization on the values, as no more information was avai

[2021-03-21 20:49] islic commented on #53
Hello,
I am having the same problem with intersecting CTRPv2 with either CCLE or GDSC1000 Psets. I tried intersecting on different parameters it still gives the same error. Any progress on finding out why this happens ?

[2021-03-22 22:41] ChristopherEeles commented on #53
Hi @islic,

I will have a look into this tomorrow and see if I can diagnose the cause.

Best,
Christopher Eeles

[2021-03-23 20:57] ChristopherEeles commented on #53
Hi @islic,

I was unable to reproduce the issue:

[code]

Here is my sessionInfo:

[code]

Could you please include the code you are running and your `sessionInfo` so I can help further?

Best,
Chris

[2021-03-26 00:51] bhaibeka opened #80 ""Gender" in cellInfo should be replaced by "Sex" in all PSets"

[2021-03-26 14:02] islic commented on #53
Hello Chris,
Thank you for your feedback .
This is what I ran and the error , I tried intersecting on one and two variables the same error shows up. As you can see the function works when I intersect CCLE and GDSC but not when I try to intersect CTRP and GDSC. My sessionInfo is below as well.
Thank you in advance
GDSC<-downloadPSet(name="GDSC1000",saveDir ="C:/Users/iST/Desktop/pharmacoGX",pSetFil

[2021-03-26 15:49] ChristopherEeles commented on #80
@bhaibeka,

I have moved this issue to the ORCESTRA repo, please see: https://github.com/bhklab/ORCESTRA/issues/17

Best,
Chris

[2021-03-26 15:49] #80 closed

[2021-03-26 15:55] ChristopherEeles commented on #53
Hi @islic,

The version of R and PharmacoGx you are using are quite outdated.

Are you able to update to R 4.0.4 (https://cran.r-project.org/src/base/R-4/)?

If you do so and reinstall PharmacoGx, I expect your issue will disappear. We fixed it in a subsequent release.

Also, the updated version using `downloadPSet` to fetch the most up-to-date PSets from [ORCESTRA](https://www.orcestra.ca/). You

[2021-03-31 15:28] p-smirnov opened #81 "What to do with PharmacoGx:::.summarizeSensitivityNumbers"
PharmacoGx:::.summarizeSensitivityNumbers, or equivalently the table returned by sensNumbers is sometimes a slight misrepresentation of the actual data available in Profiles, due to various QC filters which will keep an experiment in the sensitivity info but NA it in the profiles.

Should we even keep this as part of the new PSet object? it will be easy to calculate on the fly, and its also not cl

[2021-03-31 22:40] bhaibeka opened #82 "Inconsistencies in drug names?"
Lack of consistency across functions: Lapatinib or lapatinib?

drugDoseResponseCurve(drug="Lapatinib", cellline="AU565", pSets=CCLE, plot.type="Actual", lwd=2, mycol="red", cex.main=1.3, cex=1.3, legend.loc=NA)

which(apply(X=ss[ , c("cellid", "drugid")], MARGIN=1, FUN=function(x, y) { all(is.element(x, y)) }, y=c("AU565", "lapatinib")))

Depending on the function, the drug name must be different

[2021-03-31 22:51] ChristopherEeles commented on #82
Hi @bhaibeka,

How did you make the ss object? Without that information, I can't replicate the issue.

Best,
Chris

[2021-04-01 11:58] bhaibeka commented on #82
My bad

ss <- sensitivityInfo(CCLE)

[2021-04-01 16:48] ChristopherEeles commented on #82
Hi @bhaibeka,

When I run:
[code]

I get back `named integer(0)`, which indicates that 'lapatinib' does not match.

This is corroborated by:
[code]

Which returns:
[code]

So as far as I can tell, the drug is only referred to as 'Laptinib' in the PharmacoSet and therefore there is no discrepancy.

If you got a different result is it possible you were: (1) using an outdated version of CCLE or (2) u

[2021-04-01 16:52] bhaibeka commented on #82
I am using $.0.3 and PharmacoGx_2.2.4 CoreGx_1.2.0

I will upgrade to the last versions

[2021-04-01 17:01] ChristopherEeles commented on #82
@bhaibeka,

That should be the most up-to-date release version of `PharmacoGx`, so you don't need to upgrade. I will try your code again in R 4.0.3 and see if the results differ.

Best,
Chris

[2021-04-01 17:25] bhaibeka opened #83 "Create a computeAAC function"
1 - computeAUC function but would be nice to avoid confusion with users

[2021-04-01 17:34] bhaibeka opened #84 "Error in drugDoseResponseCurve.R"
drug.responses <- as.data.frame(cbind("Dose"=as.numeric(as.vector(pSets[[i]]@sensitivity$raw[exp_i, , "Dose"])),
              "Viability"=as.numeric(as.vector(pSets[[i]]@sensitivity$raw[exp_i, , "Viability"])), stringsAsFactors=FALSE))

should be

drug.responses <- as.data.frame(cbind("Dose"=as.numeric(as.vector(pSets[[i]]@sensitivity$raw[exp_i, , "Dose"])),
              "Viability"=as.numeric(a

[2021-04-01 17:34] ChristopherEeles commented on #83
Hi @bhaibeka,

I have logged the feature request. This issue will be reopened when someone starts working on the function.

Best,
Chris

[2021-04-01 17:35] bhaibeka commented on #84
Same problem line 211-212

[2021-04-01 17:46] ChristopherEeles commented on #82
@bhaibeka,

I tested the code in R 4.0.3 and the results are the same. It looks like only 'Lapatinib' is used in the `drugid`s of CCLE_2015. I also manually checked other instances where a column named `drugid` occur such as `drugInfo(CCLE)` and `curation(CCLE)$drug` and the drug name is consistent.

If you got a different result can you post what the function returns and your `sessionInfo()` so I

[2021-04-01 18:36] bhaibeka opened #85 "units must be enforced and/or documented"
We must properly annotate all units in the PSet.

Is it a requirement that all viability measurements be in percentage and all concentrations in uM?

What happens if the user does not respect this? The plot legends will be all wrong and probably other things. How can we enforce it or make it a parameter/slot in the object?

[2021-04-01 18:39] bhaibeka opened #86 "inconsistency between sensitivityProfiles() and computeAUC()"
sensitivityProfiles() returns AAC values are as 0.xx while ComputeAUC() returns xx% (percentage). Would be better to be consistent in eth CCLE PSet, probably the case for other PSets

Not sure if the ic50 units are the same between sensitivityProfiles() and ComputeIC50()

[2021-04-01 18:46] #84 closed

[2021-04-02 02:23] p-smirnov commented on #85
@bhaibeka We have a sanitizeInput function that Mark and I worked on which gives informative errors when things seem wrong. For example, if you set you parameters to computeAUC with viability_as_pct = TRUE but pass in decimals, it notices that there are no values larger than 5 and gives an informative warning.

We can try to enforce certain conventions within PSets, but its hard because some measu

[2021-04-02 02:25] p-smirnov commented on #82
@ChristopherEeles @bhaibeka I think the issue here may come from the CCLEsmall object provided as an example. I think it will still use the lower case "lapatinib", we have not updated it since the standardization of drug names.

[2021-04-21 13:42] bhaibeka opened #88 "No documentation for geneDrugSensitivity()"

[2021-04-21 14:33] #88 closed

[2021-04-21 17:58] bhaibeka opened #89 "A progress bar for drugSensitivitySig() would be nice as it can take a long time to compute"

[2021-04-21 18:05] ChristopherEeles commented on #89
So when we refactor this method, it will use BiocParallel instead of parallel. BiocParallel has built-in progress bars which can be configured for any parallelized computation, so we get this feature for free.

[2021-05-01 15:32] DGendoo opened #90 "PharmacoGx and ggplot2 function conflict?"
Hello team,
I've downloaded the latest R version (4.0.5) and updated to the latest Bioconductor version (3.12).
I then attempted to installed the latest PharmacoGx (2.2.4) to update from the last version I was using.
However now the issue is that when loading the library, it 'hangs' and doesn't go further beyond mentioning a conflict with a ggplot2 function (see image).
So now if I attempt to load

[2021-05-01 16:03] p-smirnov commented on #90
Is this under Linux, Mac or Windows?

Usually the ggplot warning is unrelated to this issue, and it’s caused by a different dependency. Can you try loading the `magicaxis` package on its own (that’s a common culprit)?

[2021-05-01 16:11] p-smirnov commented on #90
If you’re on a Mac, a likely issue is a bad Xquartz install. Try reinstalling the latest version, and if that doesn’t help downgrading to 2.7.11

[2021-05-01 16:50] DGendoo commented on #90
Thanks Petr.
Yes this is on a Mac (forgot to mention that sorry). I did try to install this on a Windows and that has worked, so its definitely an issue with my mac.
The magicaxis package was also hanging. I've tried the latest Xquartz but that hasn't solved the issue, tried downgrading to 2.7.11 but that hasn't solved it either. Any idea?  🤔

[2021-05-01 16:56] p-smirnov commented on #90
I’ll ask Ian to take a look, he was able to solve it recently.

[2021-05-01 16:56] DGendoo commented on #90
I should mention that Xquartz is working. The quartz() function does run within R.

[2021-05-01 18:35] iamsinht commented on #90
Deena, can you try to load with verbose?

library(PharmacoGx, verbose=TRUE)

On Sat, May 1, 2021 at 12:56 PM Deena ***@***.***> wrote:

[2021-05-01 21:16] DGendoo commented on #90
Hi Ian.
<img width="455" alt="Screenshot 2021-05-01 at 22 13 07" src="https://user-images.githubusercontent.com/10535081/116795166-d9da2500-aaca-11eb-9937-c928c92de58c.png">

Same as before (see image):

[2021-05-01 22:27] DGendoo commented on #90
I finally fixed it! Seems it was indeed a problem with XQuartz - I have MacOS Mojave and Xquartz reopens everytime I force quit it (it's on a loop). Took a number of uninstalls/reinstalls and cleaning x11 files to resolve the issue, and then reinstalling PharmacoGx. Hopefully this holds!
Thanks @p-smirnov @iamsinht

[2021-05-04 16:28] ChristopherEeles commented on #90
Hi @DGendoo,

It seems like this issue has been resolved. As such I am closing it, please do not hesitate to open another if you still have trouble with PharmacGx.

Best,
Chris

[2021-05-04 16:28] #90 closed

[2021-05-27 18:04] AlirezaShokrollahi opened #92 "The Range of ic50_recomputed"
Hello
I wrote this code to extract ic50_recomputed for all cell lines in GDSC_2020(v2-8.2):
summarizeSensitivityProfiles(GDSC, sensitivity.measure="ic50_recomputed", summary.stat="median")
IC50 values were very unusual. for example maximum of IC50 in HC-1 cell line is 1.512456e+17 and minimum of IC50 in HC-1 cell line is 1.042329e-06.
Why is there such a difference between these values? Are these

[2021-05-27 18:37] p-smirnov commented on #92
Hi Alizera,

The IC50 values will have a very large range, especially across different drugs for one cell line, for a couple of reasons:

The first is that they are inferred from the curve fit to the dose-response data, and can be extrapolated above and below the actual concentration range tested. If you wish, you can truncate them or censor them to lie within the tested concentration range for ea

[2021-05-28 10:35] AlirezaShokrollahi commented on #92
Hi Petr
Thank you very much.

[2021-05-31 18:11] islic opened #93 "AAC and AUC values are the same"
Hello ,
I had to update my R in order to intersect two Psets. I also updated to PharmacoGx package to version 2.2.4. I had downloaded from the previous version auc_published and auc_recomputed values for GDSC and CTRPv2. When I updated the package auc was not availbale as a sensitivity measure but instead aac_recomputed was availbale for GDSC and aac_recomputed or aac_published for CTRPv2. However

[2021-05-31 19:36] ChristopherEeles commented on #93
Hi @islic,

We version control the creation of all of our PharmacoSet objects using [ORCESTRA](https://orcestra.ca/pset). Could you provide the return of `dateCreated(PSet)` for the two data objects you are using? We can use this date to look up the documentation for the specific objects you are working with.

I suspect that the values in the auc_* columns are actually AAC, as that is the standard

[2021-06-01 11:30] islic commented on #93
Hello @ChristopherEeles  ,
Below are the dates of the two Psets that contain AUC values which I was using previously
dateCreated(GDSC)
[1] "Thu Aug 18 16:10:06 2016"

[1] "Wed May 11 10:20:02 2016"
Here are the dates of the same Psets but after updating the package that contain AAC values only :

[1] "Wed Jun 24 02:01:01 2020"

[1] "Tue Jun 23 23:32:05 2020"

All the Best,
Isli

[2021-06-01 13:06] p-smirnov commented on #93
Hi Isli,

You are correct in that the 2016 auc values were actually AAC values for the viability curve.

The auc/AAC confusion arises due to the fact that you can look at dose-viability and dose-inhibition curves. A couple years ago we standardized (following the large CTRP and GDSC projects) to refer to dose-viability curves, and therefore names were changed to area above the curve.

This also me

[2021-06-14 19:18] Pedramto89 opened #94 "Issue with availablePSets(): 'Error in open.connection(con, "rb") : HTTP error 500'"
I wanted to load the objects of PharmacoGx (availablePSets()) and faced with this error:

Even I attempted to use several PCs, but did not work either.
The error is this:

Error in open.connection(con, "rb") : HTTP error 500
If anyone would help, I appreciate it.

![1](https://user-images.githubusercontent.com/85902042/121947088-e29d5800-cd12-11eb-9631-4ed1f8b59573.jpg)

[2021-06-14 19:39] ChristopherEeles commented on #94
Hi @Pedramto89,

The `availablePsets()` function accesses a web API to get the most up to date data. As a result, if the URL becomes unavailable that function can fail.

This usually only occurs transiently. I recommend waiting 10-15 minutes and trying again.

I just tested the function myself and it is working correctly. If your issue persists, please feel free to open another issue.

Best,
Chris

[2021-06-14 19:54] Pedramto89 commented on #94
Thank you, Christopher. I tried many times and even after a couple of minutes, I got the error. Even, I attempted on several PCs and got the error again.
It's really amazing that you don't get the error.

[2021-06-14 19:56] #92 closed

[2021-06-14 20:00] p-smirnov commented on #94
@Pedramto89 A couple more things that can help: make sure your version PharmacoGx is up to date.

I am not sure if you are accessing the internet through a VPN or hospital network, but there can be something blocking your connection. Try accessing this URL directly: http://www.orcestra.ca/api/psets/canonical
Do you get a reply?

[2021-06-14 20:01] ChristopherEeles commented on #94
Is it possible you are having issues with your local internet connection?

Can you try to access these URLs:
http://www.orcestra.ca/api/psets/canonical
http://www.orcestra.ca/api/psets/available

If you can access those URLs, but `availablePSets` still doesn't work, please share your `sessionInfo()` so I can help futher.

Best,
Crhis

[2021-06-14 20:06] Pedramto89 commented on #94
Thank you. I am at the Hospital network but even, when I was using the package at home, I got the same error.
Now, I cannot access the URL you provided. I don't know why. Now, I am at the hospital and use their connection.

[2021-06-14 20:07] Pedramto89 commented on #94
Thank you Christopher. I cannot access those URLs too. How can I share the info? here?

[2021-06-14 20:21] ChristopherEeles commented on #94
Hi @Pedramto89,

If you are unable to open those URLs in your browser it is likely an issue with the Hospital network.

Can you try this one:
https://www.orcestra.ca/api/psets/available

Maybe they are blocking non-HTTPS sites.

Best,
Chris

[2021-06-14 20:51] ChristopherEeles commented on #94
Hi @Pedramto89,

I was able to replicate your issue, it seems like the non-canonical PSet API is broken.

Reprex:
[code]

Please update your `PharmacoGx` version using `BiocManager::install('PharmacoGx')`. You should then be able to use `availablePSets(canonical=TRUE)` to access the available PharmacoSets.

There is a problem with the API when `canonical=FALSE`, I have already opened an issue here

[2021-06-14 21:14] ChristopherEeles commented on #94
Hi @Pedramto89,

The API has been fixed. Please retry `availablePSets()` and report if your issue is resolved?

Best,
Chris

[2021-06-14 21:22] Pedramto89 commented on #94
Thank you both. Now, I can get the sets. So, I have two sets of CCLE and want to gene expression values for two different cell lines I have for drug sensitivity, looking for which ones are lethal to two groups of cell lines. How can I get this? I went over the tutorial but could not get it.

[2021-06-21 11:07] islic commented on #93
Hello,
Thank you for the reply. It makes sense that the auc_recomputed values from the 2016 version are actually aac values.
However I noticed that for CTRP the 2016 auc_published and the 2020 aac_published values are the same as well and the range of these values is not from 0 -1 but from 0-16. Should I regard these values as aac or auc values and do you have any idea to why their range isn`t fro

[2021-06-23 16:53] Pedramto89 commented on #94
Sorry for the delayed response. I still get the same error when I try availablePSets(). Furthermore, I went to the Github repository of the package and copy and paste the last edition of the downloadPSests() R code and change the canonical to TRUE but could not download the PSet again

[2021-06-23 21:59] ChristopherEeles commented on #94
Hi @Pedramto89,

I have confirmed that the function doesn't work when `canonical=FALSE`. It looks like the API end-point is broken again. However, the default (`canonical=TRUE`) worked just fine for me. I tested it in R 4.0.5 with a fresh install of PharmacoGx from Bioconductor 3.13.

Can you post your `sessionInfo()` so I can check your R and PharmacoGx versions?

Best,
Chris

[2021-06-24 00:04] Pedramto89 commented on #94
Thank you Christopher. After I updated my RGui version, in the R Studio, it worked finally

[2021-06-24 14:32] p-smirnov commented on #93
@islic
Looks like that is a naming mistake, they should be auc_published. Will fix it asap!
The published values were not normalized by concentration range by the original study authors, and we kept them as such. Therefore, for each experiment the maximum possible value is different.

[2021-06-24 15:50] Pedramto89 commented on #94
The error for downloading the PSet of CCLE_2015 solved and I got huge data of it. But, when I wanted to get the GDSC file (GDSC_2020(v2-8.2)), I faced with the same error.

The command I run : GDSCdata <- downloadPSet("GDSC_2020(v2-8.2)")
The error: Error in open.connection(con, "rb") : HTTP error 500.

[2021-06-24 17:11] ChristopherEeles commented on #94
Hi @Pedramto89,

I have requests the API be fixed again: https://github.com/bhklab/ORCESTRA/issues/23.

To get the data you want while we fix the issue, you have a few options:
(1) Click the link in the `data.frame` returned by `availablePSets`.
(2) Use the link to download the file yourself:
[code]
See `?download.file` for more information on using this function.
(3) Download the dataset directly

[2021-06-24 17:13] ChristopherEeles commented on #94
Hi @Pedramto89,

The API has been fixed now and the function should work normally.

Best,
Chris

[2021-06-24 17:13] #94 closed

[2021-07-22 18:54] SafiaSafa opened #95 "Beat AML and Smiles missing"
Hello ,
I had to reinstall my Rstudio and I also reinstall to PharmacoGx package .
[code]

In the previous version there was data for BeatAML ( https://doi.org/10.1038/s41586-018-0623-z.) and aslo the SMILES  associated to compound (for the GDSC dataset at least). When I re-install the package those information were not  available anymore.

I wanted to know if there is a way to have acces to those

[2021-07-22 19:02] ChristopherEeles commented on #95
Hi @SafiaSafa,

Is there anyway you can update your R version? You are two major release behind (3.6 -> 4.0 -> 4.1). As such, you are using a very old version of PharmacoGx. The current RELEASE is 2.4.0 on Bioconductor 3.13.

We have also introduced a new parameter for both `availablePSets` and `downloadPSet` called `canonical`. It defaults to `TRUE`, meaning it only shows the PSets which we recre

[2021-07-28 13:56] bhaibeka opened #96 "Problem with intersectPSets"
PharmacoGx version 2.4.0

## CCLE vs GDSC1 (similar to Haibe-Kains Nature 2013)
ccle <- PharmacoGx::downloadPSet("CCLE_2015")
gdsc1 <- PharmacoGx::downloadPSet("GDSC_2020(v1-8.2)")

ccle.gdsc1 <- PharmacoGx::intersectPSet(pSets=list("CCLE"=ccle, "GDSC1"=gdsc1))

returns

Intersecting large PSets may take a long time ...
Error in which.min(abs(as.numeric(doses[[i]]) - min.dose)):max(which(abs(as.nu

[2021-07-28 14:03] bhaibeka commented on #96
looks like the intersection on concentrations causes the error

[2021-07-28 14:16] ChristopherEeles commented on #96
I am currently working on updating this method. Expect a fix shortly.

Best,
Chris

[2021-07-28 15:00] p-smirnov commented on #96
@bhaibeka I agree that it is a bug, in that it should fail more gracefully than this. The method fundamentally does not work on datasets with replicates, since we need 1-1 mapping of experiments across studies.

The only way I can think of salvaging is to first "collapse replicates", and then allow intersection. What are your thoughts on this?

[2021-07-28 15:21] bhaibeka commented on #96
I would collapse the replicate and add a clear warning to inform the users

[2021-07-28 15:30] ChristopherEeles commented on #96
So with the introduction of the `LongTable` as the class which stores sensitivity profiles, I hadn't intended to subset on dose (concentration) at all in intersect-methods. They would instead subset on features, samples and compounds. The user could then extract the `LongTable` and select whichever dose they like with the very straightforward subset methods.

I can think of lots of situations wher

[2021-07-28 15:34] ChristopherEeles commented on #96
So what I imagine would look like:
`intersect(PSet1, PSet) |> subsetLongTable(.(dose1 == dose2, , by=.(drug1id, drug2id)), )`

[2021-07-28 15:44] p-smirnov commented on #96
Im not exactly sure I understand what this subsetLongTable function is doing in this case.

I am 100% for making the collapsing of replicates within a PSet and the intersection of PSets into two (or more) different steps, because I think their is a lot of choices on how to collapse replicates that are possible

[2021-07-28 15:45] ChristopherEeles commented on #96
In this case, `subsetLongTable` is a wrapper function around the `subset` method for a LongTable that works on a PSet. So you can subset a LongTable inside a PSet without extracting it.

[2021-07-28 15:47] ChristopherEeles commented on #96
`setMethod('subsetLongTable', signature(x='PSet'), function(x, subset, select) {
    LT <- subset(sensitivituSlot(x), substitute(subset), substitute(select))
    sensitivitySlot(x) <- LT
    return(x)
}` Or something like that.

[2021-07-28 15:54] ChristopherEeles commented on #96
As for collapsing replicates. There is already a method like that for `MutliAssayExperiment`. For LongTable we would do it through an assay subset and let the backpressure take care of the rest (i.e., when you subset an assay, if you lose a drug or sample, it is automatically dropped from the LongTable row- or colData.

[2021-08-12 23:10] SafiaSafa commented on #95
Hi @ChristopherEeles,

Thank you, I was able to download the data from the ORCESTRA web page. But SMILES were not available for the BeatAML dataset. Is this information available in PharmacoGx and I could not find it?Or should I email the authors of the Beat AML article to get this information?

[2021-08-13 15:09] ChristopherEeles commented on #95
Hi @SafiaSafa,

I mainly develop the infrastructure and analysis tools so I am not sure I am the best person to answer your question.  I downloaded BeatAML with `downloadPSet('BeatAML_2018')` today and have confirmed there are no smiles present in the dataset.

Whether they were there in the past I am not sure. Perhaps @p-smirnov knows? If not I would recommend you move your issue to the ORCESTAR

[2021-08-17 17:56] SafiaSafa commented on #95
Thank you @ChristopherEeles, I will put an issue to the ORCESTRA GitHub.

[2021-09-28 19:32] Cameron-IT commented on #20
Hello, I have a similar issue. It looks like CMAP is not an available PharmacoSet. I get the following error when trying to download CMAP:

[code]

I get the following output (truncated) when retrieving the list of available sets:

[code]

I am trying to work with CMAP perturbation signatures to get connectivity scores between pharmacologics in CMAP and my disease state data. Your assistance would

[2021-09-28 20:04] ChristopherEeles commented on #20
Hi @Cameron-IT

This was kind of resolved in #94.

We added a new parameter to `availablePSets`, `canonical` which defaults to `TRUE`. This filters the list of PSets down to those who have had their molecular profiles recomputed by us, and therefore are of the highest quality and therefore considered canonical.

Please remember to consult that package documentation when you encounter an issue. In

[2021-09-28 20:05] ChristopherEeles commented on #20
Hi @KevCYang,

Has your problem with perturbation signature download been resolved? @p-smirnov

Best,
Chris

[2021-09-30 01:53] Cameron-IT commented on #20
@ChristopherEeles thank you! I'm not sure how I missed that but the problem has been solved.

[2021-09-30 20:15] ChristopherEeles opened #120 "Incorporate Synergy Score Calculations from https://github.com/bhklab/PharmacoGx-private/blob/master/R/predictResponse.R Into CoreGx"
* [x] Add BLISS method
* [x] Test method works with LongTable object
* [x] Add Loewe method
* [x] Test Loewe method works with LongTable object
* [x] Add HSA method
* [x] Test HSA method works with LongTable object
* [ ] Add Response Additivity method
* [ ] Test RA method works with LongTable object

[2021-10-26 21:13] iditkosti opened #99 "Unable to load CMap data"
Unable to load the full CMap data (just the CMAPsmall example)

[2021-11-02 22:08] ChristopherEeles commented on #99
Hi @iditkosti,

We added a parameter to `availablePSets()` called `canonical` which defaults to `TRUE`. This filters to only show PharmacoSets for we have deemed to sufficiently curated and reproducible to meet the highest data quality standards.

CMAP is not a canonical PSet, thus it does now show by default. To view it, use;
[code]

In `downloadPSet` all PSets are available, you just need to spe

[2021-11-10 11:26] KatynaSada commented on #43
@p-smirnov Can I also get the link to download the merged CCLE/CTRPv2 PSet?

[2021-12-01 14:35] wxmarch opened #101 "the function drugPerturbationSig"
Hi Christopher,
Looking through the documentation, the function drugPerturbationSig can recreate drug signatures for each drug and preform statistical modelling of the transcriptomic response to the application of each drug.  But I didn't find the method and I am a little confused about how to recreate the drug signatures and preform statistical modelling.

Thanks,
wxmarch

[2021-12-01 16:09] ChristopherEeles commented on #101
Hi @wxmarch,

Did you have a chance to read through the function documentation? You can do so with `?drugPerturbationSig` in your R console. The description for the function discusses modelling:

     list of drugs, the function will compute a signature for the
     effect of drug concentration on the molecular profile of a cell.
     The algorithm uses a regression model which corrects for
     e

[2021-12-05 13:37] wxmarch commented on #101
Hi Christopher,
Thank you for your reply. I have two more questions: Is the cMap data obtained through the function downloadPertSig('CMAP_2016') processed by the function drugPerturbationSig?  Whether the estimate in cMap data represents the drug perturbational gene-expression signatures (case vs control)?

Thanks,
wxmarch

[2021-12-05 16:06] wxmarch commented on #101
Hi Christopher,
Thank you for your reply. I have two more questions: Is the cMap data obtained through the function downloadPertSig('CMAP_2016') processed by the function drugPerturbationSig?  Whether the estimate in cMap data represents the drug perturbational gene-expression signatures (case vs control)?

Thanks,
wxmarch

[2021-12-23 18:57] p-smirnov commented on #101
@wxmarch Yes, that is the case. Its an average effect per gene between cases and controls controlling for a linear cell line factor.

[2021-12-23 19:02] p-smirnov opened #102 "Add a summary option to summarizeMolecularProfiles acting on features"
For microarray data (or any data really), we would like to be able to summarize rows of molecular data by a user provided function (mean/median or a custom function), based on grouping by any column in the featureData for that molecular profile.

The use case is when we have multiple probe per gene, to be able to quickly summarize to a single value per gene when extracting the data out of a PSet.

[2022-01-06 04:26] MomenehForoutan commented on #43
@p-smirnov @bhaibeka  @KatynaSada
I have got back to this awesome package again after a few years, and indeed I never received a link to download the hybrid PSet... It would be great if we could download the hybrid PSet using downloadPSet() function in the package, specifically because you are proposing to use CTRPv2 as the training data in your recent review paper (Sharifi-Noghabi et al 2021). Mo

[2022-01-06 06:41] MomenehForoutan commented on #43
Actually, I have just attempted to make a hybrid PSet through the below code; please let me know if that does not sound right to you or if I am missing anything here. Thanks!
Sepideh

`
ccle <- readRDS(paste0(psetPath, "CCLE.rds"))
ctrp <- readRDS(paste0(psetPath, "CTRPv2.rds"))

## subset PSets to
common <- intersectPSet(pSets=list(ccle, ctrp), intersectOn="cell.lines")

## Use the CTRPv2 with co

[2022-01-07 22:38] ChristopherEeles commented on #43
Hi @MomenehForoutan,

Your code looks like it should work, however it is not recommended to access S4 object slots with the `@` operator since the object structure could change in the future. Instead you should use the included accessor method `molecularProfiles`.

So the idiomatic solution would be:
[code]

The structure of an S4 class is not guaranteed to be stable (for example, we may add or re

[2022-01-09 21:56] MomenehForoutan commented on #43
Thanks @ChristopherEeles for the quick reply, and for the explanations and the links! Yes, these all solved the issue.
Best wishes,
Sepideh

[2022-01-10 18:33] ChristopherEeles commented on #43
Awesome, feel free to open a new issue if you have further questions!

Best,
Christopher Eeles

[2022-01-10 18:33] #43 closed

[2022-01-11 00:52] MomenehForoutan opened #103 "data and output standardization when using drugSensitivitySig()"
Hello there,
The `drugSensitivitySig()` has an argument, called `standardize` (which can be one of the SD, rescale and none); the help page says "One of "SD", "rescale", or "none", for the **form of standardization of the data to use**. "; is that the drug response data (e.g. AAC) or the molecular data (e.g. transcriptomics) or both which are reformatted based on what we choose for this argument?

[2022-01-11 15:40] spocks opened #104 "summarizeMolecularProfiles not working"
Getting error in `summarizeMolecularProfiles` function.
[code]

Here is the sessionInfo:
[code]

[2022-01-11 15:47] p-smirnov commented on #104
@spocks There is no molecular data in CTRPv2.

Grab it from CCLE PSet.

[2022-01-11 19:28] spocks commented on #104
same issue with CCLE
[code]

[2022-01-11 19:32] ChristopherEeles commented on #104
Hi @spocks,

Remove the name from the first parameter. It is now called `object` since the method is inherited from `CoreGx` and can be applied to objects other than a `PharmacoSet`.

See `?summarizeMolecularProfiles` for more details.

Best,
Chris

[2022-01-11 19:32] #104 closed

[2022-01-22 23:24] bhaibeka opened #105 "Problem with gene symbols in CCLE (and possibly other PSets)"
ss1 <- fNames(CCLE, mDataType = "mutation")
ss2 <- featureInfo(CCLE, mDataType = "mutation")[ , "Symbol",drop=TRUE]

table(is.na(ss1) == is.na(ss2))

FALSE  TRUE
   83  1584

These 2 vectors should be the same

[2022-01-24 17:20] ChristopherEeles commented on #105
Hi Ben,

The `Symbol` column is not one of our standardized column names and therefore is not checked when creating a `PharmacoSet`. The `fNames` function instead looks at the `row.names` of the `featureInfo` data.frame, which should correspond to the standardized `geneid` column therein.

However, there is no `geneid` column in the mutation data for CCLE. Indeed, our standardized columns are miss

[2022-02-14 17:16] ChristopherEeles commented on #103
Hi @MomenehForoutan,

I will preface this by saying I am not the author of that specific function in the package. But I do maintain the code.

The standardization is actually done inside the `geneDrugSensitivity` function. Looking at the code it appears standardization is applied to both the molecular feature and the drug response variables in the generalized linear model.

As far as I know the be

[2022-02-14 18:34] ChristopherEeles commented on #101
Hi @wxmarch,

I am closing this issue, since I believe we answered your question. If that is not the case feel free to re-open it.

Best,
Christopher Eeles
Software Developer
BHK Lab | PM-Research | UHN

[2022-02-14 18:34] #101 closed

[2022-02-14 18:44] ChristopherEeles commented on #99
Hi @iditkosti,

I am closing this issue since I believe we answer your question. If this is not the case please feel free to re-open it.

Best,
Christopher Eeles
Software Developer
BHK Lab | PM-Research | UHN

[2022-02-14 18:44] #99 closed

[2022-02-14 18:50] ChristopherEeles commented on #95
Hi @SafiaSafa,

I closed this issue in ORCESTRA. If you feel it is unresolved feel free to re-open it.

Best,
Christopher Eeles
Software Developer
BHK Lab | PM-Research | UHN

[2022-02-14 18:50] #95 closed

[2022-02-14 18:56] ChristopherEeles commented on #79
@Durdam,

We are closing this issue as it appears your question was answered. If this is not the case feel free to re-open the issue.

Best,
Christopher Eeles
Software Developer
BHK Lab | PM-Research | UHN

[2022-02-14 18:56] #79 closed

[2022-04-13 04:47] MomenehForoutan commented on #103
Thank you for explaining this! This answered my question :-)
Cheers,
Sepideh

[2022-04-14 19:41] #103 closed

[2022-04-21 16:27] kris-nader opened #114 "IC50 published vs recomputed"
Hi all!

Thank you for a great resource!

I was taking a look at your IC50 values and wondering if these are the absolute or relative IC50 values. I watched your workshop on discovering biomarkers(https://www.youtube.com/watch?v=i2_b6JeN6Vc) where you go over the drug sensitivity curve and I assume that when you say IC50-these would be the absolute IC50s but I just wanted to make sure.

Also, I no

[2022-05-17 15:58] ChristopherEeles commented on #114
Hi @kris-nader,

 I was not familiar with the distinction between relative and absolute IC50 values, but based on [this article](https://www.graphpad.com/support/faq/relative-vs-absolute-ic50/) I am fairly confident we are reporting the relative IC50 values. Perhaps @p-smirnov can confirm this, as he is our resident expert on dose-response modelling.

Regarding the difference between the published

[2022-06-23 15:10] LiNk-NY opened #121 "no existing definition for function 'treatmentResponse'"
`#` [`Minimal reproducible example`](https://stackoverflow.com/questions/5963269/how-to-make-a-great-r-reproducible-example); please be sure to set `verbose=TRUE` where possible!

@ChristopherEeles

Hi Christopher,

I am getting an error when trying to install the package.
Here are the reproducible steps:

[code]

I get this error:

[code]

It looks like you need to import the `treatmentResponse`

[2022-06-23 16:04] ChristopherEeles commented on #121
Hi @LiNk-NY,

We have been refactoring pretty aggressively lately, and part of that been renaming accessor methods. Instead of deprecating that old method, we have just been adding aliases to our generics. In the case of `treatmentResponse`, it replaced the previous `sensitivitySlot` method with an appropriate alias so that old code still works despite our change.

The reason for the failed instal

[2022-07-12 19:58] spocks opened #122 "no slot of name error"
Hi Team,
`PharmacoGx` is giving error related to slot name and is breaking all the old code/pSet.

[code]

Here is the session_info:
[code]

[2022-07-12 21:40] ChristopherEeles commented on #122
I am already updating the object automatically inside `downloadPSet`. I can catch the error in the show method and include the message via the `show` method though. I think that would be helpful.

[2022-07-13 17:20] #114 closed

[2022-07-20 19:04] shwetha141 opened #124 "summarizeMolecularProfiles not working"
Hello, I was trying to work with the code uploaded and for some reason I get this error when I run summarizeMolecularProfiles

**Error in (function (classes, fdef, mtable)  : unable to find an inherited method for function ‘summarizeMolecularProfiles’ for signature ‘"missing"’**

[2022-07-21 19:24] ChristopherEeles commented on #120
Not doing response additivity since we can't find a formal definition in the literature. Other methods are done.

[2022-07-21 19:24] #120 closed

[2022-07-21 19:27] ChristopherEeles commented on #124
Hi @shwetha141,

Please provide the code you are trying to run so I can help you debug.

Best,
Christopher Eeles
Software Developer
Haibe-Kains Lab
PM-Research | UHN

[2022-10-29 16:01] shwetha141 commented on #124
Hi Chris, apologies for the delay. I was trying to follow with a tutorial that was posted and some of the function didn't seem to be working. I do see that there is an updated vignette for this package. I will try to refer it for my analysis.
https://github.com/Bioconductor/BiocWorkshops/blob/master/260_Safikhani_Pharmacogenomics.Rmd

[2022-11-03 15:32] ChristopherEeles commented on #124
Hi @shwetha141,

That workshop is pretty old and we have made a number of changes to PharmacoGx since it was published.

One key different is that we changed the nomenclature of our PharmacoSet objects in the `downloadPSet` function to allow for new releases of the same data (i.e., data versioning).

If you view the `availablePSets()` table, the "PSet Name" column indicates the value that should b

[2022-11-04 11:57] shwetha141 commented on #124
Thank you so much. I am sorry for asking such redundant questions. I am
quite new to bioinformatics and assessing drug response is even newer to
me. I was wondering if you can suggest something for the kind of analysis I
would like to do.

I am looking at the drug sensitivity of cell lines with specific mutations,
e.g TP53 mutations. I did try to assess the sensitivity cut-off using the
waterfall

[2022-11-16 13:58] cicGuoH opened #130 "summarizeSensitivityProfiles not working, similar to issue#124"
sorry, I'm new. Content is below.

[2022-11-16 14:08] cicGuoH commented on #130
Hello, I was trying to use function `summarizeSensitivityProfiles` and I got this error similar to #124 . I followed the suggestions below that I first downloaded the PSet, however, error is still here. Here is my code.

[code]

The error information is:
[code]
I think its version in english is
[code]

[2022-11-16 15:47] ChristopherEeles commented on #130
Hi @cicGuoH,

The argument name for passing a `PharmacoSet` into many of our functions have changed from `pSet` to `object`. This allows us to reuse these methods in other packages such as `ToxicoGx` and `RadioGx`, which have their own respective classes (`ToxicoSet` and `RadioSet`).

Our documentation has been updated to reflect these changes: https://bioconductor.org/packages/devel/bioc/vignette

[2022-11-17 00:35] cicGuoH commented on #130
Thank you very much. I changed from `PSet` into `object` and it works. Sorry for my carelessness.

[2022-11-17 00:35] #130 closed

[2022-11-24 21:03] shwetha141 commented on #124
I am  running the codes posted
https://github.com/RomaHD/DrugRespPrediction/blob/master/analysis1/data_for_analysis1.R
 I am afraid I am getting the same error for summarizeMolecularProfiles which

**_Error in (function (classes, fdef, mtable)  :
  unable to find an inherited method for function ‘summarizeMolecularProfiles’ for signature ‘"missing"’_**

_session info
R version 4.2.1 (2022-06-23 uc

[2022-11-24 21:11] ChristopherEeles commented on #124
Hi @shwetha141,

That code is very old and PharmacoGx has been updated several times since that code ran. The solution has already been discussed in #130, but the issue is the argument names for most PharmacoGx function has changed from `pSet` to `object`.

If you make that change it should resolve your current error. However, that code appears to be very old and we cannot guarantee backwards comp

[2022-11-24 22:33] shwetha141 commented on #124
Thank you Christopher, I am really sorry. I should have checked the prior issues.
Apologies for the oversight. I looked up and assumed PSet and object were interchangeable. I looked at the documentation and missed that point.

https://www.bioconductor.org/packages/devel/bioc/manuals/PharmacoGx/man/PharmacoGx.pdf

[2022-11-24 23:46] shwetha141 commented on #124
Hello, I have another question, the documentation says that summarizeMolecular profiles function, the output values is
"matrix An updated PharmacoSet with the molecular data summarized per cell line"
(page 71 of https://www.bioconductor.org/packages/devel/bioc/manuals/PharmacoGx/man/PharmacoGx.pdf). I am able to get the output for rna but not for mutation and cnv. I used the following code. _The o